#header {
	background-color: #C44DFF;
	color: #FFF;
	
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 50px;
}

#header b {
	font-family: helvetica;
	
	display: inline-block;
	line-height: 50px;
	margin-left: 40px;
	
	height: 100%;
}

.header-buttons {
	display: flex;
	float: right;
}

.header-buttons a {
	display: inline-block;
	
	color: #FFF;
	text-decoration: none;
	font-family: helvetica;
	
	padding-right: 30px;
	padding-left: 30px;
	line-height: 50px;
}

.header-buttons a:hover {
	background-color: #AA00FF;
}
